{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query Executor</title>
    <link rel="stylesheet" href="{% static 'oracle_query_executor/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/monaco-editor@0.28.1/min/vs/editor/editor.main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/js-yaml@4.0.0/dist/js-yaml.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>Query Executor</h1>
            <form id="query-form">
                <label for="db_key">Database Key:</label>
                <select id="db_key" name="db_key" required>
                    <option value="prod_ist">prod_ist</option>
                    <option value="dr_ist">dr_ist</option>
                    <option value="uat_ist">uat_ist</option>
                    <option value="uat_novate">uat_novate</option>
                    <option value="uat_novate_conf">uat_novate_conf</option>
                </select>
                <br><br>

                <label for="format_selector">Format:</label>
                <select id="format_selector" name="format_selector">
                    <option value="yaml">YAML</option>
                    <option value="json">JSON</option>
                    <option value="sql">SQL</option>
                </select>
                <br><br>

                <label for="query_sets">Query Sets:</label><br>
                
  <!-- Save and Load buttons placed above the editor, Grouped in a div for styling -->
<div id="save-load-container">
    <button type="button" id="save-script-button">Save Script</button>
    <select id="load-script-dropdown">
        <option value="" disabled selected>Load Script</option>
    </select>
</div>

                <!-- Editor container -->
                <div id="editor" class="editor"></div>
                <br><br>

                <label>Output Types:</label><br>
                <input type="checkbox" id="json" name="output_types" value="json" checked>
                <label for="json">JSON</label><br>
                <input type="checkbox" id="sql" name="output_types" value="sql" checked>
                <label for="sql">SQL</label><br><br>

                <button type="submit">Execute</button>
                <button type="button" id="get-count-button">Get Count</button>
            </form>

            <h2>Query History</h2>
            <div id="history_list" class="history-list"></div>
            <button id="prev-page" disabled>Previous</button>
            <button id="next-page" disabled>Next</button>
        </div>

        <div class="right">
            <div class="view-buttons">
                <button type="button" id="column-button">Column View</button>
                <button type="button" id="raw-button">Raw JSON View</button>
                <button type="button" id="new-tab-button">Open in New Tab</button>
                <select id="export-options" class="dropdown">
                    <option value="" disabled selected>Export as...</option>
                    <option value="json">Export as JSON</option>
                    <option value="sql">Export as SQL</option>
                </select>
            </div>
            <h2>Result</h2>
            <pre id="result" style="display: none;"></pre>
            <div id="table-container" class="table-container"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.28.1/min/vs/loader.min.js"></script>
    <script src="{% static 'oracle_query_executor/js/scripts.js' %}"></script>
</body>
</html>
