#editor {
    height: 70vh;
    width: 100%;
}
#statusBar {
    height: 30px;
    width: 100%;
    background-color: #f7f7f7;
    border-top: 1px solid #ccc;
    font-size: 12px;
}
.file-item {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
}
.file-item:hover {
    background-color: #f0f0f0;
}
.file-item.active {
    background-color: #e0e0e0;
}
.group-item {
    padding: 5px;
}
.group-item h6 {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 0;
}
.group-item h6:hover {
    background-color: #f0f0f0;
}
.group-item .file-item {
    padding-left: 20px;
}
.hidden {
    display: none;
}
