/* calendar.css */
/* Remove unnecessary scroll bar by controlling the overflow */
#calendar {
    max-width: 100%;
    margin: 20px auto; /* Center the calendar horizontally */
    overflow: hidden; /* Prevent scroll bar */
}

.fc {
    /* Ensure that the calendar is responsive and adapts to the container's size */
    max-width: 100%;
    overflow: hidden; /* Prevent vertical and horizontal scroll */
}

.fc-toolbar {
    margin-bottom: 20px; /* Adds some space between toolbar and calendar */
}


.row.justify-content-center {
    max-width: 900px;
    margin: 0 auto 20px auto; /* center and add space between the controls and the calendar */
}

button#jumpToDate {
    height: 38px; /* to align with the height of the input and select fields */
}

/* Remove underlines from event titles or links in the calendar */
.fc a {
    text-decoration: none !important; /* Removes underline from links */
}

/* Optionally, remove underlines from titles or text */
.fc-event-title {
    text-decoration: none !important; /* Ensures no underline for event titles */
    white-space: normal !important;  /* Allow the title to wrap */
    word-wrap: break-word;           /* Break long words if needed */
}
/* Optional: Add some padding to the event for better readability */
.fc-daygrid-event {
    padding: 5px;                    /* Add padding inside the event box */
    font-size: 12px;                 /* Adjust font size if necessary */
}

/* General rule for calendar text */
#calendar .fc {
    text-decoration: none; /* Apply globally inside the calendar to prevent underlines */
}

/* Optional: Additional styling for inline checkboxes */
.form-check-inline {
    margin-right: 10px;
}

#copyCronJobs {
    font-size: 1.2em;
    cursor: pointer;
    color: #007bff;  /* Blue color */
}

#copyCronJobs:hover {
    color: #0056b3;  /* Darker blue on hover */
}

.event-tooltip {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    position: absolute;
    z-index: 1000;
    white-space: normal;  /* Allow text to wrap */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    user-select: text;  /* Enable text selection */
    cursor: text;  /* Show text cursor to indicate selectable text */
    max-width: 300px;  /* Set a max width for the tooltip to handle long text */
    overflow-wrap: break-word;  /* Allow breaking long words */
}

