{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar with Booking Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet">
    <link href="{% static 'bookings/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.css" />
</head>
<body>
    <div class="container">
        <h1 class="mt-5 mb-5 text-center">Calendar with Booked Slots</h1>
        
        {% if success_message %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ success_message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        
        <div id="success-message" class="alert alert-success" style="display: none;"></div>
        <div id="error-message" class="alert alert-danger" style="display: none;"></div>
        <div id="availability-message" class="alert alert-warning" style="display: none;"></div>
    
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="jump_to_month">Jump to Month:</label>
                <select id="jump_to_month" class="form-control">
                    {% for month in months %}
                    <option value="{{ forloop.counter0 }}" {% if forloop.counter0 == current_month %}selected{% endif %}>{{ month }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="jump_to_year">Jump to Year:</label>
                <select id="jump_to_year" class="form-control">
                    {% for year in years %}
                    <option value="{{ year }}" {% if year == current_year %}selected{% endif %}>{{ year }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <button id="jump_to_date_btn" class="btn btn-primary mt-4">Go</button>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-8">
                <div id="calendar"></div>
            </div>
            <div class="col-md-4">
                <h2>Make a Booking</h2>
                <form method="post" action="{% url 'bookings:book_booking' %}" novalidate>
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_project_name">Project Name & ID<span class="text-danger">*</span></label>
                        <input type="text" name="project_name" id="id_project_name" class="form-control" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="id_psp_name">PSP Name & ID <span class="text-danger">*</span></label>
                        <input type="text" name="psp_name" id="id_psp_name" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="id_owner">Owner <span class="text-danger">*</span></label>
                        <input type="text" name="owner" id="id_owner" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label for="id_server">Server <span class="text-danger">*</span></label>
                        <select name="server" id="id_server" class="form-control" required>
                            {% for server in form.server.field.queryset %}
                                <option value="{{ server.id }}">{{ server.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="id_scheme">Scheme Name <span class="text-danger">*</span></label>
                        <select name="scheme" id="id_scheme" class="form-control" multiple required>
                            {% for scheme in form.fields.scheme.queryset %}
                                <option value="{{ scheme.id }}">{{ scheme.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="id_scheme_type">Scheme Type <span class="text-danger">*</span></label>
                        <select name="scheme_type" id="id_scheme_type" class="form-control" multiple required>
                            <option value="">Select a Scheme Type</option>
                            {% for scheme_type in form.fields.scheme_type.queryset %}
                                <option value="{{ scheme_type.id }}">{{ scheme_type.type_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="id_date_range">Date Range <span class="text-danger">*</span></label>
                        <input type="text" name="date_range" id="id_date_range" class="form-control" autocomplete="off" required>
                    </div>
                    <div class="form-group">
                        <label>Time Slot <span class="text-danger">*</span></label>
                        <div>
                            <div class="form-check">
                                <input class="form-check-input time-slot" type="checkbox" name="time_slot" value="AM" id="id_time_slot_am" required>
                                <label class="form-check-label" for="id_time_slot_am">AM</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input time-slot" type="checkbox" name="time_slot" value="PM" id="id_time_slot_pm" required>
                                <label class="form-check-label" for="id_time_slot_pm">PM</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input time-slot" type="checkbox" name="time_slot" value="Overnight" id="id_time_slot_overnight" required>
                                <label class="form-check-label" for="id_time_slot_overnight">Overnight</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_recurrence_days">Repeat on Days (Optional)</label>
                        <div id="id_recurrence_days">
                            {% for day in form.recurrence_days %}
                                <div class="form-check">
                                    {{ day }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary" id="bookButton">Book</button>
                </form>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">
        document.getElementById("id_scheme").addEventListener("change", function() {
            var schemeIds = $(this).val();  // Get the selected scheme IDs (this is an array of selected values)
            var url = "/bookings/ajax/load-scheme-types/?scheme_ids=" + schemeIds.join(',');  // Construct the URL with multiple IDs

            $.ajax({
                url: url,
                success: function(data) {
                    $("#id_scheme_type").html(data);  // Update the scheme type dropdown with the returned HTML
                },
                error: function(xhr, status, error) {
                    console.error("Error occurred while loading scheme types: ", status, error);
                }
            });
        });
    </script>

    <script type="text/javascript">
        var events = {{ events|safe }};
    </script>
    <!-- Correct order of JavaScript includes -->
    <script src="https://cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/jquery.qtip.min.js"></script>
    <script src="{% static 'bookings/scripts.js' %}"></script>
</body>
</html>
